*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.login-page{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#2563eb;

}

.login-card{
    

    width: 420px;
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 40px;


}

.login-card h1{
 
  text-align: center;
  color: #2563eb;


}

.login-card p{
   text-align: center;
    color:#777;
     margin:20px 0;

}

.login-card input{

   width: 100%;
   padding: 14px;
   border-radius: 8px;
   margin-bottom: 18px; 
   
   border: 1px solid #ddd;
  
   outline: none;

}

.login-card button{
   width: 100%;
   padding: 14px;
   border-radius: 15px;
   margin-bottom: 18px;   
   background:#2563eb;
    cursor:pointer; 
    outline: none;
    font-size: 16px;
    color: white;
}

.login-card span{
   display: block;
   text-align: center;
   margin-top: 20px;

}

.login-card a{
 
   text-decoration: none;
   color:#2563eb;
   margin-left: 10px;
   font-weight:bold;

}