.notfound{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f5f7fb;
}

.notfound-box{
text-align:center;
}

.notfound-box h1{
font-size:150px;
color:#2563eb;
margin:0;
font-weight:700;
}

.notfound-box h2{
margin:10px 0;
font-size:40px;
}

.notfound-box p{
color:#666;
margin-bottom:30px;
font-size:18px;
}

.notfound-box button{
background:#2563eb;
color:white;
border:none;
padding:15px 30px;
border-radius:10px;
cursor:pointer;
font-size:16px;
transition:.3s;
}

.notfound-box button:hover{
background:#1d4ed8;
}