.profile-page{

margin-left:260px;

background:#f5f7fb;

min-height:100vh;

}

.profile-container{

padding:40px;

display:flex;

justify-content:center;

}

.profile-card{

width:500px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.profile-card img{

width:140px;

height:140px;

border-radius:50%;

margin-bottom:20px;

}

.profile-card h2{

margin-bottom:10px;

}

.profile-card p{

color:#777;

margin-bottom:25px;

}

.profile-info{

display:flex;

justify-content:space-between;

margin-bottom:30px;

padding:20px;

background:#f8f8f8;

border-radius:12px;

}

.profile-info h4{

margin-bottom:8px;

}

.profile-info span{

font-size:13px;

color:#666;

word-break:break-word;

}

.logout-button{

background:#ef4444;

color:white;

border:none;

padding:14px 30px;

border-radius:10px;

cursor:pointer;

font-size:16px;

}