*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.register-page{
    height: 100vh;
    display: flex;
   
    justify-content: center;
     align-items: center;
     background:#2563eb;

}

.register-card{
    width: 450px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 40px;


}

.register-card h1{
    text-align: center;
    color:#2563eb;
}

.register-card p{
    text-align: center;
    color:#666;
    margin: 20px 0;


}

.register-card input{

  width: 100%;
 margin-bottom:18px;
  padding: 14px;
  border-radius: 8px;
}

.register-card button{
  width: 100%;
  margin: 5px;
  padding: 14px;
  border-radius: 8px;
  background-color: #2563eb;
 cursor: pointer;
 font-size: 16px;
 border: none;
 color: white;
}

.register-card span{
 display: block;
 text-align: center;
    margin-top:20px;

}

.register-card a{
    text-decoration: none;
    margin-left: 10px;
   font-weight:bold;
}