.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal{
    width:500px;
    background:white;
    border-radius:15px;
    padding:30px;
}

.modal h2{
    margin-bottom:20px;
}

.modal input,
.modal textarea{
    width:100%;
    margin-bottom:20px;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
    box-sizing:border-box;
}

.modal textarea{
    resize:none;
}

.modal-buttons{
    display:flex;
    justify-content:flex-end;
    gap:15px;
}

.cancel-btn{
    background:#ccc;
    color:black;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}