.stats-card{

    background:#fff;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.stats-card h4{

    color:#666;

    margin-bottom:10px;

}

.stats-card h1{

    font-size:40px;

    color:#2563eb;

}