.task-card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.task-card:hover{

transform:translateY(-5px);

}

.task-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}

.task-header h3{

margin:0;

font-size:20px;

}

.task-description{

color:#666;

margin-bottom:20px;

line-height:1.5;

}

.task-info{

display:flex;

justify-content:space-between;

margin-bottom:20px;

font-size:14px;

}

.priority,

.date{

display:flex;

align-items:center;

gap:8px;

color:#555;

}

.status-badge{

padding:7px 14px;

border-radius:25px;

color:white;

font-size:12px;

font-weight:600;

}

.ToDo{

background:#ef4444;

}

.InProgress{

background:#f59e0b;

}

.Done{

background:#10b981;

}

.task-footer{

display:flex;

justify-content:flex-end;

gap:10px;

}

.edit-btn{

background:#10b981;

color:white;

border:none;

padding:10px 16px;

border-radius:8px;

cursor:pointer;

display:flex;

align-items:center;

gap:6px;

}

.delete-btn{

background:#ef4444;

color:white;

border:none;

padding:10px 16px;

border-radius:8px;

cursor:pointer;

display:flex;

align-items:center;

gap:6px;

}